body{
    background: linear-gradient(to bottom, rgb(204,229,255),rgb(204,229,255));
    font-size: 1.15em;
    text-align: justify;
    font-family: "Lato" ,sans-serif;
}

#title{
    color: rgb(186, 133, 9);
    font-family: "Sarabun",sans-serif;
}
#service-image
{
    height: 400px;
    width: 70vw;
    background: radial-gradient(circle ,rgba(255, 0, 0, 0.345) 20%,rgba(0, 0, 255, 0.495) 40%, rgba(0, 128, 0, 0.422) 55%);
    border: 10px solid rgb(28, 28, 79);
}